@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventEase gatherming management services.</h1>
    <p>Please select venue to view our partnered locations to host your next event. To book, please select event and booking to reserve your next function..</p>
</div>
