@{
    Layout = "_Layout";
    ViewData["Title"] = "Terms & Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>Please note that EventEase will not be held liable if venue owners deny or cancel your event and any 
    subsequent refund will not be handled by EventEase or its subsidiaries, only between the parties of the event host and venue.</p>
